<div id="menu" bs-navbar>
    <ul class="nav">
        <li data-match-route="/home">
            <a href="#/home"><i class="fa fa-home fa-fw"></i>首页</a>
        </li>
        <li data-match-route="/articles">
            <a href="#/articles"><i class="fa fa-indent fa-fw"></i>数据处理</a>
        </li>
        <li data-match-route="/charts">
            <a href="#/charts"><i class="fa fa-bar-chart-o fa-fw"></i>数据分析</a>
        </li>
        <li data-match-route="/map">
            <a href="#/map"><i class="fa fa-globe fa-fw"></i>地理分布</a>
        </li>
        <li data-match-route="/settings">
            <a href="#/settings"><i class="fa fa-gears fa-fw"></i>配置</a>
        </li>
    </ul>
</div>