<!--settings view-->
<style>
    #panel-setting li{
        margin: 10px 0;
        font-size: 16px;
    }
</style>
<div id="panel-setting" class="panel">
    <div class="panel-heading">
        <h3>配置<i class="fa fa-gears fa-fw"></i></h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="#/settings/keywords">配置抓取关键字</a></li>
            <li><a href="#/settings/sites">配置抓取网站</a></li>
            <li><a href="#/settings/spider">配置爬虫</a></li>
        </ul>

    </div>
</div>